body {
  font-family :"Avenir Next"
}
li {
  list-style: none;
}
.header {
  background-color: #04B4AE;
  color: #B404AE;
  height:90px;
}
.header-logo {
  float:left;;
  font-size: 36px;
  padding:20px 40px;
}
.header-logo span {
  font-size: 30px;
}
.header-list li {
  float:left;
  padding:33px 20px;
}
.main {
   padding: 100px 80px;
}
.copy-container h1 {
  font-size: 120px;
}
.copy-container h2 {
  font-size: 30px;
}
.copy-container h3 {
font-size: 20px;
}
.main li {
  padding-top :30px;
}
.what-kickboxing1  {
  float:left;
}
.active-view{
  font-size: 20px;
  border:5px solid #FA58D0;
}
.contents img {
  height: 200px;
  width :auto;
}
.contents h1{
  float:left;
  padding-left: 50px;
}
.contents h2{
  padding-top:25px;
}
.contact-form  {
   font-size: 10px;
   padding-top : 10px;
   padding-left: 0px;
   padding-right: 0px;
}
.footer {
    background-color:#FA58D0;
    color: #fff;
    height: 120px;
    padding: 40px;
}
.footer-logo {
  float: left;
  font-size: 32px;
}
.footer-list  li {
  padding-left:100px;
  float:left;

}
